
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
}
#header{
  background-color: red;
}
#content{
  
#file-selector{
  font-size: 100px;
  width: 400px;
}
*/
body{
  background-color: black;
}

  
